section.events
	.container
		+heading('Events')
		.events__slider.js-slider-events
			.swiper-wrapper
				.card-events.swiper-slide
					a.link-inset(href='events-single.html', target='_blank')
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content
						img(src='images/events/1.jpg', srcset='images/events/1@2x.jpg 2x', alt='')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online
				.card-events.swiper-slide
					a.link-inset(href='events-single.html', target='_blank')
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content
						img(src='images/events/2.jpg', srcset='images/events/2@2x.jpg 2x', alt='')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--offline Online
				.card-events.swiper-slide
					a.link-inset(href='events-single.html', target='_blank')
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content
						img(src='images/events/3.jpg', srcset='images/events/3@2x.jpg 2x', alt='')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--offline Online
				.card-events.swiper-slide
					a.link-inset(href='events-single.html', target='_blank')
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content
						img(src='images/events/4.jpg', srcset='images/events/4@2x.jpg 2x', alt='')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online
				.card-events.swiper-slide
					a.link-inset(href='events-single.html', target='_blank')
					.card-events__top
						.card-events__date 20 / 09
						.card-events__time 13:00 - 16:00
					.card-events__content
						img(src='images/events/1.jpg', srcset='images/events/1@2x.jpg 2x', alt='')
						h4 Think Tank Needs to Build a National Research System
						.card-events__status.status.status--online Online