section.first-screen(style='background-image: url("images/first-screen-bg.png")')
	.first-screen__container.container.container--big
		h1 KORUSTEC
		.first-screen__text.text The best Korean-Russian Science and technology cooperation