section.history
	.container
		h3 History
	.history__slider.js-slider-history
		.swiper-wrapper
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 2016.06
					.history__text Korea Russia Science and Technology Cooperation Center
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 2007.03
					.history__text Korea Russia Science and Technology Cooperation Center
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 1999.03
					.history__text Establishment of Korea-Russia Joint Optic Research Center
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 1996.04
					.history__text Establishment of Korea-Russia Joint Resources Research Center
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 1995.11
					.history__text Establishment of Korea-Russia diplomatic relations
			.history__item.swiper-slide
				.history__line
				.history__content
					.history__date 1990.09
					.history__text Establishment of Korea-Russia diplomatic relations