section.news
	.container
		+heading('News', 'heading--white')
		.news__slider.js-slider-news
			.swiper-wrapper
				.news__item.card-news.swiper-slide.card
					a.link-inset(href='publications-single.html', target='_blank')
					.card-news__date 27.03.2022
					h4.card-news__title Call for 2021 Korea-Russia S&T Joint Research Project
					.card-news__text The Ministry of Science and ICT and National Research Foundation of
						|  Korea are announcing the Call for 2021 Korea-Russia...
					.card-news__pdf.pdf
						a.pdf__download(href='#', download)
							+icon('download')(width='19', height='18')
						.pdf__select-wrapper
							.pdf__select
								.pdf__select-scroll
									a(href='#', download)
										span Brain_Pool_announcement 1
									a(href='#', download)
										span Brain_Pool_announcement 2
						button.pdf__quantity +<span class="js-pdf-quantity">7</span>
						.pdf__close
							+icon('close')(width='7', height='7')
					+tags(['new material', 'cosmos', 'nuclear'], 'card-news__tags')
				.news__item.card-news.swiper-slide.card
					a.link-inset(href='publications-single.html', target='_blank')
					.card-news__date 27.03.2022
					h4.card-news__title Call for 2021 Korea-Russia S&T Joint
					.card-news__text The Ministry of Science and ICT and National Research Foundation of
						|  Korea are announcing the Call for 2021 Korea-Russia...
					.card-news__pdf.pdf
						a.pdf__download(href='#', download)
							+icon('download')(width='19', height='18')
						.pdf__select-wrapper
							.pdf__select
								.pdf__select-scroll
									a(href='#', download)
										span Brain_Pool_announcement 1
									a(href='#', download)
										span Brain_Pool_announcement 2
						button.pdf__quantity +<span class="js-pdf-quantity">7</span>
						.pdf__close
							+icon('close')(width='7', height='7')
					+tags(['new material', 'cosmos', 'nuclear'], 'card-news__tags')
				.news__item.card-news.swiper-slide.card
					a.link-inset(href='publications-single.html', target='_blank')
					.card-news__date 27.03.2022
					h4.card-news__title Call for 2021 Korea-Russia S&T Joint Research Project
					.card-news__text The Ministry of Science and ICT and National Research Foundation of
						|  Korea are announcing the Call for 2021 Korea-Russia...
					.card-news__pdf.pdf
						a.pdf__download(href='#', download)
							+icon('download')(width='19', height='18')
						.pdf__select-wrapper
							.pdf__select
								.pdf__select-scroll
									a(href='#', download)
										span Brain_Pool_announcement 1
									a(href='#', download)
										span Brain_Pool_announcement 2
						button.pdf__quantity +<span class="js-pdf-quantity">7</span>
						.pdf__close
							+icon('close')(width='7', height='7')
					+tags(['new material', 'cosmos', 'nuclear'], 'card-news__tags')
				.news__item.card-news.swiper-slide.card
					a.link-inset(href='publications-single.html', target='_blank')
					.card-news__date 27.03.2022
					h4.card-news__title Call for 2021 Korea-Russia S&T Joint Research Project
					.card-news__text The Ministry of Science and ICT and National Research Foundation of
						|  Korea are announcing the Call for 2021 Korea-Russia...
					.card-news__pdf.pdf
						a.pdf__download(href='#', download)
							+icon('download')(width='19', height='18')
						.pdf__select-wrapper
							.pdf__select
								.pdf__select-scroll
									a(href='#', download)
										span Brain_Pool_announcement 1
									a(href='#', download)
										span Brain_Pool_announcement 2
						button.pdf__quantity +<span class="js-pdf-quantity">7</span>
						.pdf__close
							+icon('close')(width='7', height='7')
					+tags(['new material', 'cosmos', 'nuclear'], 'card-news__tags')
