section.partners
	.container
		+heading('Partners')
	.partners__slider.js-marquee-partners.swiper
		.swiper-wrapper
			.partners__item.swiper-slide
				img(src='images/partners/1.png', srcset='images/partners/1@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/2.png', srcset='images/partners/2@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/3.png', srcset='images/partners/3@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/4.png', srcset='images/partners/4@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/5.png', srcset='images/partners/5@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/6.png', srcset='images/partners/6@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/7.png', srcset='images/partners/7@2x.png 2x', alt='')
			.partners__item.swiper-slide
				img(src='images/partners/8.png', srcset='images/partners/8@2x.png 2x', alt='')