.partners {
	padding: 33px 0 64px;

	@include max(lg) {
		padding: 41px 0 120px;
	}

	@include max(md) {
		padding: 10px 0 68px;
	}

	&__slider {
		margin-top: 59px;
		cursor: pointer;

		@include max(lg) {
			margin-top: 34px;
		}

		@include max(md) {
			margin-top: 26px;
		}

		.swiper-wrapper {
			transition-timing-function: linear;
			align-items: center;
		}
	}

	&__item {
		width: auto;
		padding-left: 40px;
	}
}