.filter-switcher {
	display: inline-block;
	border: 1px solid $grey-ca;
	border-radius: 100px;
	background-color: $white;
	padding: 10px;

	&__outer {
		display: flex;
		border-radius: 100px;
		overflow: hidden;
	}

	&__btn {
		background-color: $blue-0a;
		padding: 9px 37px;
		font-size: 14px;
		line-height: 18px;
		color: $grey-f5;
		letter-spacing: 0.01em;
		text-align: center;
		text-transform: uppercase;
		overflow: hidden;
		flex-grow: 1;
		cursor: pointer;
		transition: 0.3s ease;

		@include hover {
			background-color: $blue-29;
		}

		&.active {
			background-color: $white;
			color: $black-23;
		}
	}
}