.search {
	@include max(lg) {
		display: none;
	}

	input {
		width: 160px;
		height: 38px;
		padding: 0 45px 0 20px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.2149 14.0351L17.8133 16.5137C17.9344 16.6334 18.0015 16.7938 18 16.9602C17.9985 17.1267 17.9285 17.2859 17.8052 17.4037C17.6818 17.5214 17.515 17.5881 17.3406 17.5896C17.1661 17.591 16.9981 17.527 16.8727 17.4114L14.2743 14.9315C12.5764 16.32 10.381 17.0267 8.14876 16.9036C5.91656 16.7805 3.82111 15.8369 2.30209 14.271C0.78307 12.7052 -0.0414283 10.6386 0.00160352 8.50503C0.0446353 6.37147 0.951852 4.33673 2.53289 2.82779C4.11392 1.31885 6.24587 0.453 8.48138 0.411931C10.7169 0.370861 12.8822 1.15776 14.5229 2.60752C16.1636 4.05727 17.1522 6.05717 17.2812 8.18758C17.4102 10.318 16.6697 12.4133 15.2149 14.0338V14.0351ZM8.64792 15.6477C10.5886 15.6477 12.4498 14.9119 13.8221 13.6022C15.1944 12.2925 15.9653 10.5162 15.9653 8.66398C15.9653 6.81178 15.1944 5.03545 13.8221 3.72575C12.4498 2.41605 10.5886 1.68027 8.64792 1.68027C6.70723 1.68027 4.84602 2.41605 3.47375 3.72575C2.10148 5.03545 1.33054 6.81178 1.33054 8.66398C1.33054 10.5162 2.10148 12.2925 3.47375 13.6022C4.84602 14.9119 6.70723 15.6477 8.64792 15.6477Z' fill='%23F5F5F5'/%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		background-position: calc(100% - 20px) center;
		border: none;
		background-color: $blue-0a;
		border-radius: 18px;
		color: $white;
		transition: 0.3s ease;

		&:hover {
			background-color: $blue-18;
		}

		&:focus {
			width: 239px;
		}
	}
}