extends ../layouts/default

block vars
	-
		const page = {
			title: 'About us | Korustec'
		};
	- let mainModClass = 'main--visible';

block main
	.about-page
		.container
			h1 About us
		.about-page__wrapper
			.container.about-page__container
				.about-page__content
					h3 Activities
					.about-page__list-block
						p Concentration and expansion of strengths in current center work;
						ul.list
							li Strengthening the professionalism of the materials published by the by the Center;
							li Expand the forum for inviting experts (space, quantum, AI, ICT, etc.) ;
							li Promote the expansion of short-term human resource exchange projects (expert network establishment project, exchange of young researchers);
					.about-page__list-block
						p Establishment of local base infrastructure;
						ul.list
							li Lay the foundation for the expansion of the center business by increasing manpower;
							li Center moved to the local innovative ecosystem;
							li Preparation for operation of the local branch of the center in preparation for dispatching professional manpower;
					.about-page__list-block
						p Reinforcement of local dedicated functions of the innovation platform;
						ul.list
							li Participation in and exchanges with startups in both countries (continued) support (innovation platform) ;
							li Support for mutual accelerator cross-participation and market entry of startups (innovation platform);
							li Full-scale performance of technology request matching and company recruitment using experts in science and engineering;
					.about-page__list-block
						p Attracting domestic dispatchers and encouraging joint research with local excellent institutions;
						ul.list
							li Inducing dispatchers to regularly visit local academic conferences and exhibitions, and to identify and report on the current situation;
							li Support for domestic distribution and dissemination of in-depth status data by field of dispatch (innovation platform) ;
							li (dispatcher) discover promising areas for cooperation and propose joint research to the parent institution;
					.about-page__list-block
						p Support for intergovernmental meetings by sector and region;
						ul.list
							li Local support for sectoral and regional intergovernmental meetings and activities of intergovernmental international organizations;
			.about-page__mission.mission
				.mission__outer
					.mission__top
						h3 Objective
					ul
						li Concentration and expansion of strengths in current center work;
						li Sengthen local dedicated functions of the innovation platform;
						li Establishment of local base infrastructure;
						li Attracting domestic dispatchers and encouraging joint research with local excellent institutions;
						li Support for intergovernmental meetings by sector and region;

		.about-page__overflow
			.container
				include ../blocks/history.pug

		.container
			.about-page__map
				.about-page__map-caption.map-caption
					.map-caption__content
						h3.map-caption__title Contact us
						address Address: 117246, Office 35, Nauchniy proezd 17, Moscow, Russia
						p.map-caption__phone Telephone: +7-499-322-4196
						p.map-caption__email E-mail:korustec@gmail.com
						p.map-caption__lang (Korean, English, Russian)
				#map


block scripts
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzRYZB36YULyiUsTrSkN7tu92ziw_i6Hc')
	script(src="js/map.js")
