extends ../layouts/default

block vars
	-
		const page = {
			title: 'Director | Korustec'
		};

block main
	.director-page
		.container
			h1 From the Director
			.director-page__wrapper
				.director-page__text
					p KORUSTEC, a guide for science, technology and innovation cooperation between Korea and Eurasia - Welcome!
					p It was only 30 years ago, in the early 1990s, that Korea began cooperation with Eurasian countries,
						|  including Russia, in the fields of science, technology and innovation. Nevertheless, the achievements we have
						|  accumulated so far range from the small kimchi refrigerator to the first Korean astronaut.
					p Russia is a science and technology powerhouse that produced the first nuclear power plant, the first satellite,
						|  and the first astronaut. Russia is also a powerhouse in basic science, with Professor Mendeleev, who created
						|  the periodic table of elements, and many Nobel laureates.
					p The Korea-Russia Science and Technology Cooperation Center initially started as the local Moscow office of the
						|  Institute of Science and Technology (KIST), and is currently working as a science and technology
						|  comprehensive window for Korea and Russia and an organization dedicated to innovation platforms in both
						|  countries. Our Korea-Russia Science and Technology Cooperation Center:
					ul.list
						li Publication of Russian science technology and innovation trends and major information materials
						li Preparing for local holding of governmental meetings between the two countries
						li Short-term manpower exchange between experts and young researchers in each major field of the two countries
						li Exchange and matching between researchers from the two countries
						li Exchanges and matching between innovative entities such as start-ups and technology-based companies in both countries
					p We have a wide range of activities.
					p The Korea-Russia Science and Technology Cooperation Center is a local base for anyone who is interested in Russian science and technology or wants to enter the country. Our center will do its best to welcome and help anyone, regardless of individual researchers or institutions, who wish to cooperate with Russia in the field of science and technology or innovation.
					.director-page__thanks
						p thank you
						p Suh Gillwon, director of KORUSTEC
				.director-page__image
					img(src='images/director.jpg', srcset='images/director@2x.jpg 2x', alt='')
					.director-page__image-caption
						span Suh Gillwon
						span director of KORUSTEC
