extends ../layouts/default

block vars
	-
		const page = {
			title: 'Partners | Korustec'
		};

block main
	.partners-page
		.container
			h1 Partners
			.partners-page__filter.filter-switcher
				.filter-switcher__outer
					.filter-switcher__btn PARTNERS KOREA
					.filter-switcher__btn PARTNERS RUSSIA
			.partners-page__grid
				.partners-page__grid-wrapper
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/1.png', srcset='images/partners-page/1@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/2.png', srcset='images/partners-page/2@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/3.png', srcset='images/partners-page/3@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/4.png', srcset='images/partners-page/4@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/3.png', srcset='images/partners-page/3@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/5.png', srcset='images/partners-page/5@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/6.png', srcset='images/partners-page/6@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/3.png', srcset='images/partners-page/3@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/5.png', srcset='images/partners-page/5@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/8.png', srcset='images/partners-page/8@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/1.png', srcset='images/partners-page/1@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/2.png', srcset='images/partners-page/2@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/9.png', srcset='images/partners-page/9@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/1.png', srcset='images/partners-page/1@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/2.png', srcset='images/partners-page/2@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/5.png', srcset='images/partners-page/5@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/8.png', srcset='images/partners-page/8@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/3.png', srcset='images/partners-page/3@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/5.png', srcset='images/partners-page/5@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/1.png', srcset='images/partners-page/1@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/2.png', srcset='images/partners-page/2@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/6.png', srcset='images/partners-page/6@2x.png 2x', alt='')
					.partners-page__item
						.partners-page__image
							img(src='images/partners-page/4.png', srcset='images/partners-page/4@2x.png 2x', alt='')
