/* media */
$media-list: (
	'md': 639,
	'md989': 989,
	'lg': 1279
);

/* шрифты */
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Inter', sans-serif;
$thirdFont: 'Roboto Condensed', sans-serif;

/* цвета */
$textMainColor: #030324;
$black: #000000;
$black-23: #232323;
$black-12: #121212;
$black-03: #030324;
$white: #ffffff;
$grey-f5: #f5f5f5;
$grey-f3: #f3f3f3;
$grey-82: #828282;
$grey-ca: #cacaca;
$grey-f0: #f0f0f0;
$red: #fa3737;
$blue-29: #293bdb;
$blue-0a: #0a00ff;
$blue-18: #1812b7;
$yellow: #f9f1a9;
